target/flights-analizer-1.0-SNAPSHOT.jar
target/classes/ru/ideaplatform/Flight.class
target/classes/ru/ideaplatform/Main.class
target/classes/ru/ideaplatform/Utils.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/classes/tickets.json
